# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. C++
4. julia

**Objectives:**
- List of languages in data science
- Different data science environments 
- Different libraries

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numPy
3. matplotlib
4. seaborn

|Data Science Tools| 
|-|
|R Studio| 
|Vs code|

Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
def func1(min) :
    return min/60
func1(200)

3.3333333333333335

## Author ##
Rahul Rawat